*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  direction: rtl;
  font-family: sans-serif;
}

.map-wrapper {
  width: 600px;
  height: 600px;
  position: relative;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

.marker {
  width: 50px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
}

.leaflet-top.leaflet-left {
  top: auto !important;
  bottom: 20px !important;
}

.map-search-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  left: 10px;
  z-index: 99999;
}

.map-search-wrapper > input {
  border: none;
  outline: none;
  width: 100%;
  height: 40px;
  box-shadow: 0 5px 10px 0px rgba(51, 51, 51, 0.339);
  padding: 0 10px;
  font-size: 18px;
  border-radius: 4px;
}

.map-search-wrapper > p {
  display: flex;
  align-items: center;
}

.map-search-wrapper > p > i {
  font-style: normal;
  display: inline-block;
  transform: rotateY(180deg);
  margin-left: 7px;
}

.map-search-wrapper > p {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  font-size: 18px;
  transition: 0.3s;
}

.map-search-wrapper > p > span {
  color: #b400af;
  margin-right: 5px;
}

.map-search-wrapper > input:focus + p {
  opacity: 0;
}
